Importing Libraries

In [ ]:
import numpy as np
import pandas as pd

Importing CSV File into Visual Studio

In [28]:
df=pd.read_csv(r"C:\Users\user\Desktop\VISUAL STUDIO\HAMOYE QUIZZES\FoodBalanceSheets_E_Africa_NOFLAG.csv", encoding ="latin-1")
print("df_shape:", df.shape)
df.info()
df.head()

df_shape: (60943, 12)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60943 entries, 0 to 60942
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Area Code     60943 non-null  int64
 1   Area          60943 non-null  object
 2   Item Code     60943 non-null  int64
 3   Item          60943 non-null  object
 4   Element Code  60943 non-null  int64
 5   Element       60943 non-null  object
 6   Unit          60943 non-null  object
 7   Y2014         59354 non-null  float64
 8   Y2015         59395 non-null  float64
 9   Y2016         59408 non-null  float64
 10  Y2017         59437 non-null  float64
 11  Y2018         59507 non-null  float64
dtypes: float64(5), int64(3), object(4)
memory usage: 5.6+ MB

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

Q1: Year with the least correlation with "Element Code"

In [46]:
pd.DataFrame(
    {
        "correlations" : [df['Element Code'].corr(df["Y2014"]), df['Element Code'].corr(df["Y2015"]), df['Element Code'].corr(df["Y2016"]), df['Element Code'].corr(df["Y2017"])]
    }, index=["Y2014", "Y2015", "Y2016", "Y2017"]
).reset_index().rename(columns={'index':'years'}).min()

years              Y2014
correlations    0.023444
dtype: object

Q2: Year with the highest sum of stock variation

In [ ]:
print("year2014:", df.groupby("Element")["Y2014"].sum()["Stock Variation"])
print("year2015:", df.groupby("Element")["Y2015"].sum()["Stock Variation"])
print("year2016:", df.groupby("Element")["Y2016"].sum()["Stock Variation"])
print("year2017:", df.groupby("Element")["Y2017"].sum()["Stock Variation"])

year2014: 58749.83
year2015: 34910.99
year2016: 33140.12
year2017: 54316.91

Q3: Total number of the sum of processing in 2017

In [ ]:
Q3: Total number of the sum of processing in 2017
df.groupby("Element")["Y2017"].sum()["Processing"]

292836.0

Q4: df.iloc[] can be used to access element across rows  and columns

Q5: Area with the highest sum

In [ ]:
df.groupby("Area")["Y2017"].sum().sort_values(ascending=False)

Area
Nigeria                        1483268.23
Egypt                           866379.92
South Africa                    517590.54
Ethiopia                        448683.76
Morocco                         388495.36
Ghana                           337599.06
Algeria                         325644.27
United Republic of Tanzania     322616.85
Kenya                           264660.66
Sudan                           239931.92
Cameroon                        232030.43
Angola                          229159.57
Côte d'Ivoire                   224599.01
Uganda                          213950.38
Malawi                          181098.71
Mozambique                      161407.98
Mauritania                      156665.46
Mali                            149928.33
Madagascar                      131197.73
Niger                           126707.58
Benin                           124771.22
Tunisia                         124167.20
Zambia                          103223.77
Burkina Faso                    101855.07
Guinea                           98138.87
Senegal                          95681.15
Zimbabwe                         75919.34
Rwanda                           73663.69
Chad                             71594.68
Sierra Leone                     55311.33
Eswatini                         54343.33
Mauritius                        51114.83
Togo                             49841.88
Congo                            41181.68
Central African Republic         29937.00
Namibia                          29874.89
Liberia                          29342.20
Gabon                            27979.64
Gambia                           23154.18
Djibouti                         22729.91
Botswana                         22101.30
Lesotho                          21267.96
Guinea-Bissau                    19102.77
Cabo Verde                       14650.74
Sao Tome and Principe            12662.63
Seychelles                         442.34
Comoros                             59.84
Sudan (former)                       0.00
Ethiopia PDR                         0.00
Name: Y2017, dtype: float64

Q6: A pandas dataframe with dimensions (100,3) has how many features and rows
Ans: 3 features. 100 observations

Q7: create a dataframe

In [ ]:
lst = [[35, 'Portugal', 94], [33, 'Argentina', 93], [30 , 'Brazil', 92]]

col = ['Age','Nationality','Overall']
w=pd.DataFrame(lst, columns=col, index=[1,2,3])
w

   Age Nationality  Overall
1   35    Portugal       94
2   33   Argentina       93
3   30      Brazil       92

Q8: Total protein supply for Madagascar in 2015

In [ ]:
df_madagascar = df[df["Area"]=="Madagascar"]
df_madagascar.head()
df_madagascar.groupby("Element")["Y2015"].sum()["Protein supply quantity (g/capita/day)"]

173.05

Q9: math is a python module

Q10: Area with the 7th lowest sum in 2017

In [ ]:
df.groupby('Area')["Y2017"].sum().sort_values(ascending=True).head(7).tail(1)

Area
Guinea-Bissau    19102.77
Name: Y2017, dtype: float64

Q11: mean and std for year 2017 to 2 decimal places

In [49]:
df.describe()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
count,60943.000000,60943.000000,60943.000000,59354.000000,59395.000000,59408.000000,59437.000000,59507.000000
mean,134.265576,2687.176706,3814.856456,134.196282,135.235966,136.555222,140.917765,143.758381
std,72.605709,146.055739,2212.007033,1567.663696,1603.403984,1640.007194,1671.862359,1710.782658
min,4.000000,2501.000000,511.000000,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,74.000000,2562.000000,684.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,136.000000,2630.000000,5142.000000,0.090000,0.080000,0.080000,0.100000,0.070000
75%,195.000000,2775.000000,5511.000000,8.340000,8.460000,8.430000,9.000000,9.000000
max,276.000000,2961.000000,5911.000000,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000

Q12: Total number of unique countries in the dataset

In [ ]:
df['Area'].nunique()

49

Q13: Set is an unordered data structure in python

Q14: How to find rows and columns in pandas dataframe

In [ ]:
df.shape

(60943, 12)

Q15: Assign element 8 to the variable x

In [ ]:
y = [(2, 4), (7, 8), (1, 5, 9)]
x=y[1][1]
print(x)

8

Q16: Code output for my_tuppy

In [51]:
my_tuppy = (1,2,5,8)

my_tuppy[2] -= 6

TypeError: 'tuple' object does not support item assignment

Q17: Select elements in bold and italics

In [ ]:
array  = ([[[94, 89, 63], [93, 92, 48], [92, 94, 56]]])
array[[[:2,1:]]]

SyntaxError: invalid syntax (885795440.py, line 3)

Q18: Total number of missing data in 2014 to 3 decimal places

In [52]:
print("Total number")
print(df.isnull().sum()["Y2014"])

print ("Perecntage")
round(df.isnull().sum() * 100/ df.shape[0],3)["Y2014"]

Total number
1589
Perecntage

2.607

Q19:  Sum of wine produced in 2015 and 2018 respectively

In [ ]:
print("Sum of wine in 2015:", df.groupby('Item')["Y2015"].sum()["Wine"])
print("Sum of wine in 2015:",df.groupby('Item')["Y2018"].sum()["Wine"])

Q20: Output of the code \
S = [['him', 'sell'], [90, 28, 43]]

In [ ]:
S[0][1][1]